<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="common.css" /> 
    <title>Activity</title>
  </head>
  <body>
    <div id="breadcrumbs"><a href="/control_panel">Home</a> &gt; Activity</div>
    <div id="reports">
      <div id="siteselector">
        <select>
          <option>ExampleOne.com</option>
          <option selected>ExampleTwo.com</option>
          <option>ExampleThree.com</option>
        </select>
      </div>
      Bandwidth used this month: <span id="bandwidthused">80 GB</span><br>
      Quota for this month: <span id="bandwidthquota">120 GB</span><br>
      <table id="hitsperhour" border="1">
        <thead>
          <th></td>
          <th>Hour 1</td>
          <th>Hour 2</td>
          <th>Hour 3</td>
          <th>Hour 4</td>
          <th>Hour 5</td>
          <th>Hour 6</td>
        </thead>
        <tbody>
          <tr>
            <td>Day 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
            <td>Item 4</td>
            <td>Item 5</td>
            <td>Item 6</td>
            <td></td>
          </tr>
          <tr>
            <td>Day 2</td>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
            <td>Item 4</td>
            <td>Item 5</td>
            <td>Item 6</td>
          </tr>
          <tr>
            <td>Day 3</td>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
            <td>Item 4</td>
            <td>Item 5</td>
            <td>Item 6</td>
          </tr>
        </tbody>
      </table>
      <ul id="recentchanges">
        <li>2010/08/01 User2 made 5 changes</li>
        <li>2010/08/02 User1 unauthorized login</li>
        <li>2010/08/03 User3 made 1 change</li>
      </ul>
      </table>
    </div>
    <div id="charts">
      <img id="hits">Hits<br>
      <img id="countries">Countries<br>
      <img id="sales">Sales<br>
    </div>
  </body>
</html>
